@media only screen and (min-width: 768px) {
   
    div.form-section {
      width: 50%;
      margin-right: 2rem;
      position: fixed;
    }
    div.address-section {
      width: 50%;
      margin-left: 2rem;
    }
  }



